html {
  background: #434b55 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg==") fixed;
}

body {
  padding: 50px 0;
  font: normal 14px/1.5 Lato, Helvetica, Arial, sans-serif;
  color: #555;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  background: #dedede;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

a {
  color: #ff4d00;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
}

header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #e8e8e8; /* Old browsers */
  background: -moz-linear-gradient(top, #e8e8e8 0%, #b2b2b2 100%);      /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#b2b2b2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e8e8e8 0%, #b2b2b2 100%);   /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e8e8e8 0%, #b2b2b2 100%);        /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e8e8e8 0%, #b2b2b2 100%);       /* IE10+ */
  background: linear-gradient(to bottom, #e8e8e8 0%, #b2b2b2 100%);     /* W3C */
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #ff9933;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #686868;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}

header p {
  margin: 0;
  color: #686868;
  width: 300px;
  font-size: 13px;
}

header p.view {
  display: none;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

header p.view a {
  color: #ff8000;
}

header p.view small {
  font-weight: normal;
}

header ul {
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  height: 38px;
  padding: 1px 0;
  background: #ff9100; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9100 0%, #ff6a00 100%);      /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9100), color-stop(100%,#ff6a00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff9100 0%, #ff6a00 100%);   /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff9100 0%, #ff6a00 100%);        /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff9100 0%, #ff6a00 100%);       /* IE10+ */
  background: linear-gradient(to bottom, #ff9100 0%, #ff6a00 100%);     /* W3C */
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 -1px 0;
  width: auto;
}

header ul:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -4px;
  right: -5px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0, inset rgba(255, 255, 255, 0.7) 0 -1px 0;
}

header ul li {
  width: 90px;
  float: left;
  height: 38px;
}

header ul li + li {
  width: 90px;
  border-left: 1px solid #a9a9a9;
}

header ul li + li + li {
  border-right: none;
  width: 90px;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  font-weight: normal;
  padding-top: 6px;
  height: 40px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: white;
  -webkit-font-smoothing: antialiased;
}

header ul li:hover {
  background: #ff9c1a; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9c1a 0%, #e65f00 100%);      /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9c1a), color-stop(100%,#e65f00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff9c1a 0%, #e65f00 100%);   /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff9c1a 0%, #e65f00 100%);        /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff9c1a 0%, #e65f00 100%);       /* IE10+ */
  background: linear-gradient(to bottom, #ff9c1a 0%, #e65f00 100%);     /* W3C */
}

header a {
  color: #ff8000;
  text-decoration: none;
}

a.h1 {
  color: #ff6a00;
}

section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid white;
  background: #fafafa;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

p, ul, ol, table {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

th {
  color: #222;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  font-size: smaller;
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden;
}

footer a {
  color: white;
  font-weight: bold;
}

footer p {
  text-align: center;
}

.center {
  text-align: center;
}

.rss-icon {
  vertical-align: -7%;
}

.theme-table td {
  width: 60px;
  border: 0;
}

.theme-table td > div + div {
  display: block;
  text-align: center;
}

.thumb {
  float: right;
  margin-top: 25px;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }

  footer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 20px;
    width: auto;
  }

  footer p {
    float: none;
    margin: 0;
  }

}

@media print, screen and (max-width: 580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}
