<header>
  <h1 class="header">HexChat</h1>
  <p class="header">IRC client</p>

  <ul>
    <li class="download"><a class="buttons" href="https://github.com/downloads/hexchat/hexchat/HexChat%20{{ site.current_version }}%20x64.exe">Windows 64bit</a></li>
    <li class="download"><a class="buttons" href="https://github.com/downloads/hexchat/hexchat/HexChat%20{{ site.current_version }}%20x86.exe">Windows 32bit</a></li>
    <li class="download"><a class="buttons" href="https://github.com/downloads/hexchat/hexchat/hexchat-{{ site.current_version }}.tar.xz">Source</a></li>
    <li><a class="buttons github" href="https://github.com/HexChat/hexchat">View On GitHub</a></li>
  </ul>
	
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-17775794-8");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</header>
