<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="keywords" content="irc, xchat, hexchat, client, scriptable, perl, python, open-source, cross-platform, Windows, unix, linux">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pygment_style.css">
    <script src="/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="HexChat News Feed" href="http://feeds.feedburner.com/hexchat">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include analytics.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">
          <a href="/index.html">HexChat</a>
        </h1>
        <p class="header">IRC client</p>

        <!--Mobile friendly links-->
        <p class="view">
          <a href="/news.html">Read The News</a>
        </p>
        <p class="view">
          <a href="https://hexchat.readthedocs.org">Read The Docs</a>
        </p>

        <!--Desktop friendly links-->
        <ul>
          <li><a href="/downloads.html">Get <strong>Downloads</strong></a></li>
          <li><a href="/themes.html">View <strong>Themes</strong></a></li>
          <li><a href="/news.html">Read <strong>News</strong></a></li>
          <li><a href="https://github.com/hexchat">See on <strong>GitHub</strong></a></li>
          <li><a href="https://tingping.github.io/donate/">Send <strong>Donation</strong></a></li>
          <li><a href="https://hexchat.readthedocs.org">Read the <strong>Docs</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using a modified Modernist theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
      <p>Archive icon made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> and exe icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a> are licensed as <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
