<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    <link rel="alternate" type="application/atom+xml" title="HexChat News Feed" href="http://feeds.feedburner.com/hexchat" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17775794-8']);
	  _gaq.push(['_setDomainName', 'hexchat.org']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
	    <header>
        <h1 class="header"><a href="/index.html">HexChat</a></h1>
        <p class="header">IRC client</p>

        <!--Mobile friendly links-->
        <p class="view"><a href="/news.html">Read The News</a></p>
        <p class="view"><a href="https://hexchat.readthedocs.org">Read The Docs</a></p>

        <!--Desktop friendly links-->
        <ul>
          <li><a href="/downloads.html">GetThe <strong>Downloads</strong></a></li>
          <li><a href="/screenshots.html">ViewThe <strong>Screenshots</strong></a></li>
          <li><a href="/news.html">ReadThe <strong>News</strong></a></li>
          <li><a href="https://github.com/HexChat/hexchat">SeeOn <strong>Github</strong></a></li>
          <li><a href="http://docs.hexchat.org">ReadThe <strong>Docs</strong></a></li>
        </ul>
      </header>
      <section>
		    {{ content }}
      </section>
    </div>
    <footer>
      <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using a modified Modernist theme by <a href="https://github.com/orderedlist">orderedlist</small></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
